@model PropertyManager.Models.WorkOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>WorkOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Issue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Issue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Property.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Property.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractorId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

<div class="row">
    <div class="col">
        <div onload="initialize()" id="map" style="height: 600px; width: 650px ;"></div>
    </div>
</div>
<script>

        var map;
       function initMap() {
        var myLatLng = {lat: @Model.Tenant.Property.lat, lng: @Model.Tenant.Property.lng};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=@API_Key.APIKEY&callback=initMap"></script>
