@model IEnumerable<PropertyManager.Models.WorkOrder>

@{
    ViewData["Title"] = "ViewWorkOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewWorkOrders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorId)
            </td>
        </tr>
}
    </tbody>
</table>

<div class="col">
    <input type="button" value="Create Reccomendation" class="btn btn-secondary" onclick="location.href='@Url.Action("CreateRec", "Analysts")'" />
</div>
