@model IEnumerable<PropertyManager.Models.Reccomendation>

@{
    ViewData["Title"] = "ViewRecs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewRecs</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.Name)
            </td>
            <td>
                <a asp-action="RecDetails" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
